<div class="container mt-6">
    <div class="card">
        <div class="card-body">

            <h1 class="text-center">Update Driver</h1>

            <form>
                <div class="form-group my-3">
                    <label for="id">ID:</label>
                    <select class="form-control" name="driverID" [(ngModel)]="selectedDriver.driverID">
                        @for(driver of drivers;track $index) {
                        <option value="{{driver.driverID}}">{{driver.driverID}}</option>
                        }
                    </select>
                </div>

                <div class="form-group my-3">
                    <label for="licence">Licence:</label>
                    <input type="text" class="form-control" placeholder="Driver licence must be 5 alphanumeric characters" name="driver.driverLicence"
                        [(ngModel)]="selectedDriver.driverLicence">
                </div>

                <div class="form-group my-3">
                    <label for="department">Department:</label>
                    <select class="form-control" name="department" [(ngModel)]="selectedDriver.driverDepartment">
                        <option value="food">Food</option>
                        <option value="furniture">Furniture</option>
                        <option value="electronic">Electronic</option>
                    </select>
                </div>

                <button class="btn btn-primary" (click)="updateDriver()">UPDATE</button>
            </form>
        </div>
    </div>
</div>