<div class="container mt-6">
    <div class="card">
        <div class="card-body">

            <h1 class="text-center">Delete Package</h1>

            <form>

                <div class="form-group my-3">
                    <label for="id">ID:</label>
                    <select class="form-control" name="packageID" [(ngModel)]="selectedPackage.packageID">
                        @for(package of packages;track $index) {
                        <option value="{{package.packageID}}">{{package.packageID}}</option>
                        }
                    </select>
                </div>

                <button class="btn btn-primary" (click)="deletePackage()">DELETE</button>

            </form>
        </div>
    </div>
</div>