<div class="container mt-6">
    <div class="card">
        <div class="card-body">

            <h1 class="text-center">Delete Driver</h1>

            <form>

                <div class="form-group my-3">
                    <label for="id">ID:</label>
                    <select class="form-control" name="driverID" [(ngModel)]="selectedDriver.driverID">
                        @for(driver of drivers;track $index) {
                        <option value="{{driver.driverID}}">{{driver.driverID}}</option>
                        }
                    </select>
                </div>

                <button class="btn btn-primary" (click)="deleteDriver()">DELETE</button>

            </form>
        </div>
    </div>
</div>