<div class="container">

    <h2 class="text-center my-3">Driver Management</h2>
    <div class="row">

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">List All Drivers</h5>
                    <p class="card-text">List all existing drivers in the database</p>
                    <a routerLink="/list-drivers" class="btn btn-primary w-100">LIST</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Add Driver</h5>
                    <p class="card-text">Add a new driver to the database</p>
                    <a routerLink="/add-driver" class="btn btn-primary w-100">ADD</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Update Driver</h5>
                    <p class="card-text">Update an existing driver in the database</p>
                    <a routerLink="/update-driver" class="btn btn-primary w-100">UPDATE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Delete Driver</h5>
                    <p class="card-text">Delete an existing driver from the database</p>
                    <a routerLink="/delete-driver" class="btn btn-primary w-100">DELETE</a>
                </div>
            </div>
        </div>

    </div>

    <h2 class="text-center my-3">Package Management</h2>
    <div class="row">

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">List All Packages</h5>
                    <p class="card-text">List all existing packages in the database</p>
                    <a routerLink="/list-packages" class="btn btn-primary w-100">LIST</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Add Package</h5>
                    <p class="card-text">Add a new package to the database</p>
                    <a routerLink="/add-package" class="btn btn-primary w-100">ADD</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Update Package</h5>
                    <p class="card-text">Update an existing package in the database</p>
                    <a routerLink="/update-package" class="btn btn-primary w-100">UPDATE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Delete Package</h5>
                    <p class="card-text">Delete an existing package from the database</p>
                    <a routerLink="/delete-package" class="btn btn-primary w-100">DELETE</a>
                </div>
            </div>
        </div>


    </div>

    <h2 class="text-center my-3">Utilities</h2>
    <div class="row">

        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">View Database Statistics</h5>
                    <p class="card-text">View all statistics for database operations and the current number of drivers
                        and packages</p>
                    <a routerLink="/statistics" class="btn btn-primary w-100">VIEW</a>
                </div>
            </div>
        </div>

    </div>
</div>