<div class="container mt-6 my-3">
    <div class="card">
        <div class="card-body">

            <h1 class="text-center">Database Operations</h1>

            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>GET</th>
                        <th>POST</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tr class="text-center">
                    <td>{{ databaseOperations.get }}</td>
                    <td>{{ databaseOperations.post }}</td>
                    <td>{{ databaseOperations.update }}</td>
                    <td>{{ databaseOperations.delete }}</td>
                </tr>
            </table>

        </div>

        <div class="card-footer text-center">*GET operations include getting the number of drivers and packages in the database for the section below.</div>
    </div>
</div>

<div class="container mt-6 my-3">
    <div class="card">
        <div class="card-body">

            <h1 class="text-center">Database Statistics</h1>

            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Drivers</th>
                        <th>Packages</th>
                    </tr>
                </thead>
                <tr class="text-center">
                    <td>{{ drivers.length }}</td>
                    <td>{{ packages.length }}</td>
                </tr>
            </table>

        </div>
    </div>
</div>